:root {
  font-family: "Plus Jakarta Sans";
}

.plus-jakarta-sans-<uniquifier> {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container {
  max-width: 1400px;
  margin: 0, auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/musicformoods.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  padding: 280px;
}

header h1 {
  font-weight: 800;
  font-size: 125px;
  line-height: 161px;

}

header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;

}

header h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;

}

header a {

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-top: 32px;
  background: #fb5c8d;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 16px 32px;
  gap: 10px;
}