:root {
  font-family: "Plus Jakarta Sans";
}

.plus-jakarta-sans-<uniquifier> {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  font-weight: 800;
  font-size: 128px;
  line-height: 161px;

}